In [46]:
import pandas as pd
import numpy as np
from functools import reduce

In [54]:
dfA = pd.read_csv('../data/lab02/data1.csv')
dfB = pd.read_csv('../data/lab02/data2.csv')
dfC = pd.read_csv('../data/lab02/data3.csv')

np.random.seed(727)

similar_column = next(iter(set(dfA.columns) & set(dfB.columns) & set(dfC.columns)))
unique_vals = list(reduce(lambda acc, x: acc | set(x), [df[similar_column].unique() for df in [dfA, dfB, dfC]], set()))

sizes = ['small', 'medium', 'high']
directions = ['north', 'south', 'east', 'west']
timings = ['fulltime', 'parttime']
genders = ['male', 'female']

N = 20
customizedData = pd.DataFrame({
  similar_column: np.random.choice(unique_vals, size=N),
  "size": np.random.choice(sizes, size=N),
  "direction": np.random.choice(directions, size=N),
  "timing": np.random.choice(timings, size=N),
  "gender": np.random.choice(genders, size=N),
  "salary": np.random.randint(20000, 100000, size=N)
})

customizedData.head()

      county    size direction    timing  gender  salary
0    COWLITZ    high     south  parttime    male   82741
1   DONA ANA   small     south  parttime    male   81646
2  YALOBUSHA   small      east  parttime    male   47160
3       KENT   small      east  parttime  female   68964
4    HASKELL  medium      west  fulltime    male   36873

In [56]:
display(customizedData.shape)
modifiedData = customizedData.merge(dfA, on=similar_column).merge(dfB, on=similar_column).merge(dfC, on=similar_column)
display(modifiedData.shape)

(20, 6)

(2222285, 18)